.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.overlay {
  position: fixed;
  top: 30%;
  left: 30%;
  width: fit-content;
  height: auto;
  max-height: 500px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(145, 9, 125, 0.5);
  padding: 50px;
}
